<!-- <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet"> -->

 <div class="banner" style="background-image: linear-gradient(-225deg, rgba(220,220,220,0.5) 0%, rgba(196,196,196,0.5) 50%), url(<%= image_path('sunrise.jpg') %>); background-size:cover">
  <div class="banner-content">
      <div class="col col-xs-12 col-sm-6 offset-sm-3">
          <h1>MindRock<h1>
          <h3>For Stronger Minds</h3>
        <img class="qr-code" src="<%= image_path('mindrock.jpg') %>" alt="WeChat Mini program QR code">
    </div>
  </div>
</div>
